h1 { color: black;
    width: 60%;
    margin: 5% auto;}

body { background: pink}

body { color: rgb(192, 230, 255);
}
body > h1 {color: inherit}

main {background-color: green;
width: 60%;
margin: 5% auto;
}

article { border: solid gray 2px !important;
margin: 1%;}

article:hover { background-color: gray;}

article { border: none}