nav > a {
    margin: 2% 1% 3%;
    height: 10%;
    width: 15%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    text-align: center;
    border: 2px solid white;
  }
  
  .has-border {
    border-radius: 25px;
    border: 2px solid #0795C3;
    background: none;
    padding: 20px; 
  }
  }