body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(LandingPageBackground.png);
    background-repeat: no-repeat;
    background-size: % 100%;
    height: 100vh;
    width: 100vw;
  }
  
  .logo {
    width: 30% auto;
    height: 150%;
    margin: 3% 10% auto;
  }
  
  header {
    display: grid;
    grid-template-columns: 40% 60% auto;
    width: 100% auto;
  }
  
  main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }
  
  nav > a {
    margin: 2% 1% 3%;
    height: 10%;
    width: 15%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px auto;
    border-radius: 25px auto;
    background: transparent;
    padding: 20px auto; 
    text-align: center;
    border: 2px solid white;
  }
  
  .has-border {
    border-radius: 25px;
    border: 2px solid #0795C3;
    background: none;
    padding: 20px; 
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  #profile-pic {
    width: 250px auto;
    height: 350px;
    border-radius: 50%;
    margin: 15% auto;
    grid-column: 2/3;
  }
  
  h1 {
    color:blue;
    grid-column: 2/3;
    margin: 3% auto;
    border-bottom: 2px solid #1940A9;;
  }
  h1:hover {
    color: orange;
  }
  
  h2 {
    grid-column: 2/3;
    margin: 3% auto;
    font-style: italic;
  }
  
  button {
    grid-column: 2/3;
    margin: 3% auto;
    width: 70% auto;
    height: 15% auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    padding-bottom: 5%;
    text-align: center;
    color: #4caf50;
    letter-spacing: 16px;
    font-style: italic;
  }




/* Small and up (Landscape Phones) */
@media (min-width: 576px) {

}

/* Medium and up (Tablets) */
@media (min-width: 768px) {

}


